body {
    background-color:#202429;
    margin: 0;
    padding: 0;
    color:#83bff7;
    font-family:Segoe UI;
    position: relative;
 
}

header {
    background-color:#83bff7;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #202429;
    text-decoration: none;
    padding: 10px;
    font-weight:bold;
    text-transform:lowercase;

}

nav ul li a:hover  {
    background-color: #202429;
    color:#83bff7;
    border-radius:25px;
    border-bottom:0px;
}

.logo {
    display: inline-block;
    color: #202429;
    font-weight: bold;
    font-size: 40px;
    text-transform:lowercase;
    cursor:default;
}


.education-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 8px;
    padding: 10px;
    transition: all 0.3s ease;
    background-color: #83bff7;
    max-width: 65%;
    margin-left: 250px;
}

.education-box:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: default;

}

.education-box img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.education-box-text {
    flex-grow: 1;
}

.education-box h2 {
    color: #333;
    margin-bottom: 5px;
}

.education-box p {
    color: #666;
    font-weight: bold;
    margin-bottom: 2px;
}



.caption {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

.skills-box {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #83bff7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 65%;
    margin-left: 250px;
}

.skills-box:hover{
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: default;
}

.skills-box-icon {
    flex-shrink: 0;
    margin-right: 20px;
}

.skills-box-icon img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.skills-box-text {
    flex-grow: 1;
}

.skills-box h2 {
    color: #333;
    margin-bottom: 10px;
}

.skills-box ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.skills-box ul li {
    color: #666;
    margin-bottom: 5px;
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #e6e6e6;
    border-radius: 20px;
}

.skills-box ul li:hover{
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: default;
}

.skills-box ul li::before {
    content: "• ";
    color: #333;
}


.hobbies-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 1710px;
    padding: 40px;
}

.hobby-card {
    background-color: #83bff7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}
.hobby-card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: default;

}

.hobby-card img {
    width: 80px;
    height: 80px;
}

.hobby-card h2 {
    color: #333;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.hobby-card p {
    color: #666;
    margin-bottom: 0;
    font-weight: bold;
}

.profile {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

img {
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

img:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

h1 {
    margin-bottom: 10px;
    color: #333;
    cursor:default;
}

p {
    margin-bottom: 20px;
    color: #666;
    font-weight: bold;
    cursor:default;
}

.social-icons {
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;

}

.social-icons a {
    text-decoration: none;
    color: #000;
    font-size: 24px;
    transition: color 0.3s ease;
}



.container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #83bff7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



footer {
    background-color:#83bff7;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    overflow: auto;
}

footer p {
    margin: 0;
    color:#202429;
    font-weight:bold;

}

.selected{
    border-bottom: 4px solid;
    border-color: white;
    color: white;
}

.picture{
    width: 50px;
    height: 50px;
    position: center;
    margin-left: 160px;
}

.picture:hover{
    background-color:white;
    border-radius:10px;
}

.language-switcher {
    position: fixed;
    color: white;
    font-weight: bold;
    padding: 5px;
    display: flex;
    margin-left: 1200px;

}

.language-icon {
    width: 25px;
    height: 25px;
    padding-top: 12px;
}

.language-dropdown {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    min-width: 160px;
    margin: 0;
    list-style-type: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: -100%;
    right: 0;
    border: 1px solid #ccc;
    padding: 10px;
}

.language-dropdown li {
    padding: 5px 10px;
}

.language-dropdown li:hover {
    background-color: #f1f1f1;
}

.language-switcher:hover .language-dropdown {
    display: block;
}

.language-name {
    cursor: pointer;
}
.change{
    padding-right: 10px;
    padding-top: 14px;
}

body > div > ul > li> a > img:hover{
    border-radius: 10px;

}
